body {
    _color: #00476E;
    color: #fff;
    __background-color: #3C2841;
    background-color: #83538F;
    _background-color: #fff;
    __background-color: #3C2841;
    font-family: "Albert Sans", sans-serif;
    _font-family: "Source Sans 3", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-weight: 300;
    font-size: 19px
}

h1 {
    font-size: 48px;
    line-height: 0.928em;
    text-align: center;
    padding-bottom: 12px;
    letter-spacing: 8px;
}

h2 {
    font-size: 32px;
    padding-bottom: 8px;
}

h3 {
    font-size: 24px;
    padding-bottom: 6px;
}

h4 {
    font-size: 18px;
    padding-bottom: 4px;
}

h5 {
    font-size: 16px;
    padding-bottom: 2px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cormorant SC', serif;
    color: inherit;
    font-weight: 400
}

a {
    color: inherit
}

table {
    color: inherit
}

.container-fluid div.row div.main-col {
    min-width: 300px;
    max-width: 1300px;
}

.center-content, #login-form-container {
    display: flex;
    justify-content: center;
    align-items: center
}

.spacer-vertical {
    margin: 80px 0 0 0;
}

.align-right {
    text-align: right;
}

.form {
    font-size: 110%;
}

.form input[type="text"], .form textarea {
    width: 100%;
}

.form div.row {
    padding-top: 30px;
}

.form input[type="password"], .form input[type="text"] {
    border: 1px solid #00476E
}

.form input[type="submit"] {
    color: white;
    background-color: #008DD0;
    padding: 10px 30px 10px 30px;
}

.container {
    min-width: 320px
}

.images-invisible-preload {
    height: 1px;
    width: 1px;
    display: none;
    visibility: hidden
}

.carousel-control, .carousel-control:focus, .carousel-control:hover {
    color: white;
    opacity: 1;
    background: none !important;
    filter: none !important;
    progid: none !important
}

.carousel-control.left {
    margin-left: -5px
}

.carousel-control.right {
    margin-right: -5px
}

.juicer-feed h1.referral {
    display: none !important;
    /* Removes Juicer logo in Instagram feed */
}

p {
    line-height: 200%;
}

.row {
    vertical-align: middle;
}

.row.header {
    padding-top: 0 !important;
    padding-bottom: 60px;
}

.row.stripe {
    padding-top: 40px;
    padding-bottom: 40px;
}

.row.color-a {
    background-color: #83538F;
    _background-color: #83538F;
}

.row.color-b {
    background-color: #564774;
    _background-color: #4e3155;
}

.box {
    padding: 20px 10px 20px 10px;
    border: 1px solid;
    color: #9b75a5;
    text-align: center;
    line-height: 180%;
}

.box p {
    color: white;
}

.box div.heading {
    color: white;
    font-weight: 300;
    font-size: 22px;
    padding-bottom: 14px;
}

.box img {
    width: 250px;
}

.box p {
    padding-top: 10px;
    margin-bottom: 0;
}

.box div.text, .box span.text {
    font-weight: 400;
    font-size: 16px;
}

.box div.text.bold, .box span.text.bold {
    font-weight: 700;
}

.box a, a.button {
    text-decoration: none;
}

.box a:hover, a.button:hover {
    text-decoration: underline;
}

.price-list h3 {
    padding-top: 50px;
}

.top-menu a {
    text-decoration: none;
    font-family: 'Cormorant SC', serif;
    font-size: 22px;
}

.button {
    padding: 12px;
    border-radius: 1.2rem;
    border: 1px solid #9b75a5;
    background-color: #564774;
    color: white;
    font-weight: bolder;
    font-size: 16px;
    white-space:nowrap;
}

.bold {
    font-weight: bold;
}

a.link {
    text-decoration-style: dotted;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

.full-width {
    width: 100%;
}

div .illustration {
    padding-top: 70px;
}

.top-menu {
    padding-top: 0 !important;
}

.top-menu a:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.grid-tier-info {
    font-weight: bold;
    text-align: center;
}

/* xs: */
@media (min-width: 0px) {
    h1 {
        font-size: 2em
    }

    .box.box-1 {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .box.box-2 {
        border-top-style: none;
    }

    .box.box-3 {
        border-top-style: none;
    }

    .box.box-4 {
        border-top-style: none;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .grid-tier-info {
        background-color: darkslategray;
    }
}

/* sm: */
@media (min-width: 576px) {
    h1 {
        font-size: 2em
    }

    .grid-tier-info {
        background-color: lightskyblue;
    }
}

/* md: */
@media (min-width: 768px) {
    .box.box-1 {
        border-top-left-radius: 20px;
        border-top-right-radius: 0;
    }

    .box.box-2 {
        border-top-right-radius: 20px;
        border-top-style: solid;
        border-left-style: none;
    }

    .box.box-3 {
        border-bottom-left-radius: 20px;
        border-top-style: none;
    }

    .box.box-4 {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 20px;
        border-top-style: none;
        border-left-style: none;
    }

    .grid-tier-info {
        background-color: darkolivegreen;
    }
}

/* lg: */
@media (min-width: 992px) {
    .grid-tier-info {
        background-color: darkmagenta;
    }
}

/* xl: */
@media (min-width: 1200px) {
    .box.box-1 {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .box.box-2 {
        border-top-right-radius: 0;
        border-left-style: none;
    }

    .box.box-3 {
        border-bottom-left-radius: 0;
        border-top-style: solid;
        border-left-style: none;
    }

    .box.box-4 {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-style: solid;
        border-left-style: none;
    }

    .grid-tier-info {
        background-color: coral;
    }
}

/* xxl: */
@media (min-width: 1400px) {
    .grid-tier-info {
        background-color: firebrick;
    }
}
